.box-flex-1 {
  display: flex;
}

.our-services {
  visibility: visible;
  animation-delay: 0.2s;
  animation-name: fadeInLeft;
  color: black;
  font-size: 18px;
  font-family: Rubik, sans-serif;
  letter-spacing: 5px;
  font-weight: 700px;
  text-align: left;
  margin-left: 100px;
  text-align: left;
  margin-bottom: 50px;
}
.box-flex-1 h5 {
  font-size: 42px;
  line-height: var(--section-title-line-height);
  text-transform: capitalize;
  font-family: var(--heading-font-family);
  color: var(--heading-font-color);
  font-weight: bold;
  margin: 0;
  padding: 0;
  width: 550px;
  height: 120px;
  font-family: Rubik, sans-serif;
  letter-spacing: 1px;
  margin-top: -10px;
  margin-left: 80px;
  text-align: left;
}
.box-flex-1 p {
  font-size: 16px;
  font: weight 400px;
  line-height: 2em;
  color: #616670;
  font-weight: bold;
  margin: 0;
  padding: 0;
  width: 450px;
  height: 100px !important;
  text-align: left;
  margin-left: 80px;
}
.single-service {
  display: flex;
  margin-top: 10px;
  padding-top: 10px;
  margin-left: 200px;
  text-align: center;
  height: 110px;
}
.button-read-more-2 i {
  margin-left: 10px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  font-family: Rubik, sans-serif;
}

.button-read-more-2 {
  padding: 14px 30px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f3f3f3;
  color: black;
  font-weight: bolder;
  letter-spacing: 1px;
  font-family: Rubik, sans-serif;
  margin-left: 40px;
  margin-top: 12px;
  transition: background-color 0.5s ease; /* Adjust the timing here */
}
.button-read-more-2:hover {
  cursor: pointer;
  background-color: #ff6600;
}
.single-service img {
  width: 210px;
  height: 84px;
  margin-top: 15px;
}
.single-service p {
  width: 300px;
  height: 60px;
  font-size: 16px;
  font: weight 400px;
  line-height: 2em;
  color: #616670;
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-family: Rubik, sans-serif;
  margin-left: 30px;
  margin-top: 0px;
}
.single-service h2 {
  font-family: Rajdhani, sans-serif;
  color: #171717;
  font-weight: 700;
  font-size: 24px;
  padding: 0;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 41px;
  width: 162px;
}
.all-services {
  border-top: 1px solid #e3e3e3;
  margin-top: 20px;
  padding-top: px;
}
